body {
    overflow-y: scroll;
    overflow-x: hidden;
    /* THEME */
    --theme-main-color: #d3d3d3;
    --theme-text-color: #222222;
    --theme-border-light: rgba(255, 255, 255, 0.1);
    /* BG */
    background: var(--theme-main-color);
}
/*MOBILE ONLY*/

@media only screen and (min-width: 601px) {

/* Pick template - Grid kolonner  */
.grid-container-picktemplate {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	background-color: #d3d3d3;
	padding: 10px;
}

.grid-item-picktemplate img {
		max-width: 80%;
	  height: auto;
}

.grid-container-picktemplate > div {
	background-color: #d3d3d3;
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
}

.item1 {
	grid-row-end: span 3;
}

/* knapper */
.btn-picktemplate{
border-radius: 25px;
background-color:#222222;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
padding:10px 12px;
text-decoration:none;
}

.btn-picktemplate:hover{
background-color:#6c6c6c;
}

/*Reports side mobile*/

.collapsible {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #555;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}



/*View Reports side mobile*/
.btn1 {
display:inline-block;
cursor:pointer;
color:#222222;
font-family:Arial;
font-size:17px;
font-weight:bold;
padding:10px 12px;
text-decoration:none;
}

.btn1:hover {
background-color:#6c6c6c;
}

.btn1:active {
position:relative;
top:1px;
}

.icon-bar {
width: 60%;
overflow: auto;
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #222222;
  font-size: 27px;
}

.icon-bar a:hover {
  background-color: #9d9d9d;
}

.active {
  background-color: #4CAF50;
}

.btn {
  color: #222222;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #5CB85C;
}
/*Report editor side start*/
.back-arrow img {
  width: 50px;
  padding: 20px;
}

.grid-container-editor {
  display: grid;
  grid-template-columns: auto;
  background-color: #D3D3D3;
  padding: 10px;
  font-family: "Arial";
  grid-row-gap: 15px;

}

.grid-item-save {
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #5CB85C;

}

.grid-item-save li {
  list-style: none;
}

.grid-item-save a {
  text-decoration: none;

}

.grid-item-save a:visited {
  color: #fff;

}

.grid-item-save-template{
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 20px;
  background-color: #FFFFFF;
}

.grid-item-save-template li {
  list-style: none;
}

.grid-item-save-template a {
  text-decoration: none;

}

.grid-item-save-template a:visited {
  color: #222222;

}

.grid-item-view-report{
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 20px;
  background-color: #FFFFFF;

}

.grid-item-view-report li {
  list-style: none;
}

.grid-item-view-report a {
  text-decoration: none;
}

.grid-item-view-report a:visited {
  color: #222222;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  font-family: "Helvetica";
  padding: 10px 20px 0px 20px;
}

.tab button {
  background-color: #F1F1F1;
  float: left;
  border: 1px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
}

.tab button:hover {
  background-color: #5CB85C;
}

.tab button.active {
  background-color: #5CB85C;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

textarea {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext img {
  width: 25px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
}


/*WEB ONLY*/
@media only screen and (min-width: 601px){
body {
overflow-y: scroll;
overflow-x: hidden;

/* THEME */

--theme-main-color: #d3d3d3;
--theme-text-color: #222222;
--theme-border-light: rgba(255, 255, 255, 0.1);
/* BG */

background: var(--theme-main-color);
}
/*Navbar web*/
.logo {
}

.topnav {
  overflow: hidden;
  background-color: #222222;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #9d9d9d;
  color: black;
}

.topnav a.active {
  background-color: #5CB85C;
  color: white;
}
/*Reports side web*/
.leftside{
align-content: left;
}

.rightside{
align-items: right;
}

.collapsible {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #9d9d9d;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}

/* Pick template - Ice - Grid kolonner  */
.grid-container-picktemplate {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #d3d3d3;
  padding: 10px;
}

.grid-item-picktemplate img {
		max-width: 40%;
	  height: auto;
}

.grid-container-picktemplate > div {
  background-color: #d3d3d3;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.item1 {
  grid-row-end: span 3;
}

/* knapper */
.btn-picktemplate{
border-radius: 25px;
background-color:#222222;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial, Helvetica, sans-serif;
font-size:17px;
font-weight:bold;
padding:10px 12px;
text-decoration:none;
}

.btn-picktemplate:hover{
background-color:#6c6c6c;
}
/*Web version*/

  .back-arrow img {
    margin-left: 340px;
    width: 50px;
    padding: 20px;
    align-content:  center;
  }

  .grid-container-editor {
    float: left;
    display: grid;
    grid-template-columns: auto;
    background-color: #F1F1F1;
    padding: 80px;
    font-family: "Arial";
    grid-row-gap: 15px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-item-save {
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #5CB85C;
}

.grid-item-save-template{
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 20px;
  background-color: #FFFFFF;
}

.grid-item-save-template li {
  list-style: none;
}

.grid-item-save-template a {
  text-decoration: none;

}

.grid-item-save-template a:visited {
  color: #222222;

}

.grid-item-view-report{
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 20px;
  background-color: #FFFFFF;

}

.grid-item-view-report li {
  list-style: none;
}

.grid-item-view-report a {
  text-decoration: none;
}

.grid-item-view-report a:visited {
  color: #222222;
}

.tab {
  overflow: hidden;
  font-family: "Helvetica";

}

.tab button {
  background-color: #F1F1F1;
  float: left;
  border: 1px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
}

.tab button:hover {
  background-color: #5CB85C;
}

.tab button.active {
  background-color: #5CB85C;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;

     width: 50%;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext img {
  width: 25px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* report editor slut */
/* view report start*/
.icon-bar {
width: 20%;
overflow: auto;
}

.icon-bar a {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #222222;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #9d9d9d;
}

.active {
  background-color: #4CAF50;
}

.btn {
  color: #222222;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #5CB85C;
}
}